term_two_winter/applied_statistics_for_data_science/project/properati_sell_properties_brazil.csv
term_two_winter/big_data_platforms/assignment_3/extended.csv
term_two_winter/big_data_platforms/assignment_3/Crimes_-_2001_to_Present_20250325.csv
term_two_winter/big_data_platforms/assignment_3/chicago_crime.csv
term_two_winter/big_data_platforms/assignment_3/Crimes_-_2001_to_Present_20250323.csv
